<?xml version="1.0"?>
<model>
  <name>warden_vectorthrust</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Andrew Gregg</name>
    <email>andrew@sednaaero.com</email>
  </author>
  <description>Warden boat with single vectored thrust outboard motor.</description>
</model>
